a, .nav,.dropdown-item {
    font-family: 'Manrope' !important;
  }
p{
    margin: 0;
} 
.axel-bg-orange{
    background-color:#ff6341;
    color: #fff !important;
}
.axel-bg-blue{
    background-color:#152039;
}
.axel-text-orange{
    color:#ff6341;
}
.axel-text-blue{
    color:#152039;
}
.axel-nav-icon{
    width: 18px;
}
.axel-top-icon{
    width: 20px;
}
.axel-social{
    width:40px !important;
    height: 40px !important;
}
@media (min-width: 992px){
    .dropdown:hover>.dropdown-menu {
        display: block !important;
    }

    .dropdown>.dropdown-toggle:active {

        pointer-events: none !important;
    }
}
.axel-hero-slider{
    height: 700px !important;
}
.axel-box{
    transition: 0.5s;
    
}
.axel-box:hover{
    box-shadow: var(--bs-box-shadow) !important;
    margin-top:-5px;
}

.axel-box:hover .axel-box-icon{
    color:#ff6341 !important;
}
.imgAnim{
    -webkit-transition: all 400ms;
    transition: all 400ms;
}