body,.logo-text {
    font-family: 'Manrope' sans-serif !important;
  } 

  h1,h2{
    font-family: Rubik !important;
  }
  h3{
    font-family: Nunito !important;
  }
.logo-text{
    line-height:1;
}
.axel-text{
    font-size:14px;
}
.text-20{
    font-size:16px;
}
p,.p,.nav,.dropdown-item, li{
    font-family: 'Poppins' !important;
    margin: 0;
} 
.axel-bg-orange{
    background-color:#ff6341;
    color: #fff !important;
}
.axel-btn-orange{
    background-color:#ff6341 !important;
    color: #fff !important;
}
.axel-bg-blue{
    background-color:#152039;
}
.axel-text-orange{
    color:#ff6341;
}
.axel-text-blue{
    color:#152039;
}
.axel-text-blue-2{
    color:#a7d2dd;
}
.axel-bg-blue-2{
    background-color:#a7d2dd;
    border-color:#a7d2dd;
}

.axel-nav-icon{
    width: 18px;
}
.axel-top-icon,.axel-bottom-icon{
    width: 20px;
}
.icon-env{
    width: 22px !important; 
}
.icon-map{
    width: 40px !important;
}
.axel-social-icon{
    width:30px !important;
    height: 30px !important;    
}
.axel-social-icon:hover g.social-svg-mask {
   fill:#ff6341 !important;
}
#dropLink{
    top:40px;
}
@media (min-width: 950px){
    .dropdown:hover>.dropdown-menu {
        display: block !important;
    }

    .dropdown>.dropdown-toggle:active {

        pointer-events: none !important;
    }

}
.axel-hero-slider{
    height: 700px !important;
}

.axel-box:hover{
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.09) !important;
}

.axel-box:hover .axel-box-icon{
    color:#ff6341 !important;
}
.imgAnim{
    -webkit-transition: all 400ms;
    transition: all 400ms;
}
.axel-block1:hover .axel-block2{
    top:-90px;
    background:#0dcaf0;
}
.axel-footer-bg{
    background: linear-gradient(120deg, #3c62e9 7%, #3c62e9 74%, #3c62e9 100%);
    padding-top: 50px;
    padding-right: 0px;
    padding-bottom: 20px;
    padding-left: 0px;
}
.nav-link, footer p{
    font-size: 17px !important;    
}
.unstyled li{
    list-style-type: none;
}
@media (max-width: 950px){
    footer p{
        text-align:center;
    }
}
#navScroll{
    display: none;
}
@media (max-width: 950px){
    #navScroll{
        display: none !important;
    }
    .navbar-nav #dropLink {
        position: relative;
        left: -47% !important;
        min-width: 100%;
        margin-bottom: 40px;
    }
}
#footer-content {
    z-index: 9999 !important;
}
.brevoIfram{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
    outline: 0 !important;
    box-shadow: none !important;
}
.card-title{
    font-family:'Lora' !important;
    font-size:20px;
}

/* Animation d'apparition : Slide depuis le haut */
.card {
    opacity: 0;
    transform: translateY(-50px); /* Décalage vertical vers le haut */
    transition: opacity 1.2s ease-out, transform 1.2s ease-out; /* Animation plus lente */
}

/* Animation active quand la carte est visible (quand elle entre dans la vue) */
.card.animate {
    opacity: 1;
    transform: translateY(0); /* La carte glisse depuis le haut */
}

/* Effet de zoom au survol */
.card:hover {
    transform: scale(1.09); /* Agrandissement léger au survol */
    transition: transform 0.9s ease-in-out; /* Transition douce pour l'effet de zoom */
}
.imgAnim:hover{
    transform: scale(1.02);
    transition: transform 0.5s ease-in-out;
}

