body,.logo-text {
    font-family: 'Manrope' sans-serif !important;
  } 

  h1,h2{
    font-family: Rubik !important;
  }
  h3{
    font-family: Nunito !important;
  }
.logo-text{
    line-height:1;
}
.axel-text{
    font-size:14px;
}
p,.p,.nav,.dropdown-item{
    font-family: 'Poppins' !important;
    margin: 0;
} 
.axel-bg-orange{
    background-color:#ff6341;
    color: #fff !important;
}
.axel-bg-blue{
    background-color:#152039;
}
.axel-text-orange{
    color:#ff6341;
}
.axel-text-blue{
    color:#152039;
}
.axel-text-blue-2{
    color:#a7d2dd;
}
.axel-bg-blue-2{
    background-color:#a7d2dd;
    border-color:#a7d2dd;
}

.axel-nav-icon{
    width: 18px;
}
.axel-top-icon,.axel-bottom-icon{
    width: 20px;
}
.icon-env{
    width: 22px !important; 
}
.icon-map{
    width: 40px !important;
}
.axel-social-icon{
    width:30px !important;
    height: 30px !important;    
}
.axel-social-icon:hover g.social-svg-mask {
   fill:#ff6341 !important;
}

@media (min-width: 950px){
    .dropdown:hover>.dropdown-menu {
        display: block !important;
    }

    .dropdown>.dropdown-toggle:active {

        pointer-events: none !important;
    }
}
.axel-hero-slider{
    height: 700px !important;
}
.axel-box{
    transition: 0.5s;
    
}
.axel-box:hover{
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.09) !important;
    margin-top:-5px;
}

.axel-box:hover .axel-box-icon{
    color:#ff6341 !important;
}
.imgAnim{
    -webkit-transition: all 400ms;
    transition: all 400ms;
}
.axel-block1:hover .axel-block2{
    top:-90px;
    background:#0dcaf0;
}
.axel-footer-bg{
    background: linear-gradient(120deg, #3c62e9 7%, #3c62e9 74%, #3c62e9 100%);
    padding-top: 50px;
    padding-right: 0px;
    padding-bottom: 20px;
    padding-left: 0px;
}
.nav-link, footer p{
    font-size: 17px !important;    
}
@media (max-width: 950px){
    footer p{
        text-align:center;
    }
}
#navScroll{
    display: none;
}
@media (max-width: 950px){
    #navScroll{
        display: none !important;
    }
}
