.hero{
    background: linear-gradient(rgba(0, 0, 0, 0.477), rgba(0, 0, 0, 0.563)), url('/axcel-hero-bg-interne.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;    
}
.image{
    border-radius: 300px 150px 200px 200px;
    -webkit-border-radius: 300px 150px 200px 200px;
    -moz-border-radius: 300px 150px 200px 200px;
}
.link{
    color:
}